.Rproj.user
.Rhistory
.RData
.Ruserdata

data/IN2018_V06_012_RANDSPL.CSV
data/IN2018_V06_013_RANDSPL.CSV
data/IN2018_V06_014_RANDSPL.CSV
data/IN2018_V06_015_RANDSPL.CSV
data/IN2018_V06_020_RANDSPL.CSV
data/IN2018_V06_021_RANDSPL.CSV
data/IN2018_V06_022_RANDSPL.CSV
