.Rproj.user
.Rhistory
.RData
.Ruserdata
data/IN2018_V06_012_RANDSMPL.CSV
data/IN2018_V06_013_RANDSMPL.CSV
data/IN2018_V06_014_RANDSMPL.CSV
data/IN2018_V06_015_RANDSMPL.CSV
data/IN2018_V06_020_RANDSMPL.CSV
data/IN2018_V06_021_RANDSMPL.CSV
data/IN2018_V06_022_RANDSMPL.CSV
